body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  // background-image: ;
}
button {
  width: 68px;
  height: auto;
  margin: 8px;
}
.container {
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.contents {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background-color: rgba($color: #000000, $alpha: 0.2);
}
.mem {
  flex-direction: column;
}
.meminfo1 {
  flex-wrap: wrap;
}

.profile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 784px) {
  .profile {
    flex-flow: column;
    transition: 0.5s;
  }
}
.person {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 784px) {
  .person {
    flex-flow: column;
    transition: 0.5s;
  }
}

.jjimcontainer {
}
.alinfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.alinfo2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviewbox {
  display: flex;
  flex-direction: column;
}
.reviewbox textarea {
  margin: 0;
}
.more {
  background: none;
  border: none;
  margin: 0 0 0 auto;
}
